<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.investec.com/en_za.html">Investec</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Admin Dashboard <span class="sr-only">(current)</span></a></li>
              <li><a href="#"></a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/GarethW1994/Investec-Business-Case">Github</a></li>
            </ul>
          </div>
        </div>
      </nav>

<h3 id="heading">
  {{ component }}
  <small class="text-muted"> ( Investec Business Case )</small>
</h3>

<app-entity></app-entity>
